body{background: whitesmoke;
margin:0;
padding: 0;}

.pagina{
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.button{
    align-self: center;
    justify-content: center;
    

}
.tela{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    overflow: hidden;
}

.canva{
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr;
}

.ceu{
    background-color: lightskyblue;
    display:grid;
    grid-template-columns: 1.3fr 2fr 1.3fr;
}
.cloud{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nuvem{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
.sol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lua{
    width: 120px;
    height: 120px;
    background-color: yellow;
    border-radius: 60px;
}

.predio{
    display:grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr;
    
}

.item{background-color: #c9c9c8;
border: 1px solid white;
border-color: white;
}

.n1{
    position: relative;
}

.n2{
    margin-top: 75px;
    position: relative;
}

.n3{
    margin-top: 25px;
    position: relative;
}

.n4{
    margin-top: 50px;
    position: relative;

}

.n5{
    margin-top: 15px;
    position: relative;
}

.fixo1, .fixo2, .fixo3, .fixo4, .fixo5 {
    position: absolute;
    height: 100%;
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.window{
    background-color: #d9ffff;
}
   
.w1{
    margin-top: 15px;
    height: 25px;
    width: 25px;
}
.w2{
    height: 25px;
    width: 25px;
}
.w3{
    height: 25px;
    width: 25px;
}
.w4{
    height: 40px;
    width: 25px;
}

#meuBotao{
    width: 100px;
    height: 100px;
    margin: 50px;
    border-radius: 50px;
    background-image: url(./icone/lua-e-estrelas.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    

}
#meuBotao2{
    width: 100px;
    height: 100px;
    margin: 50px;
    border-radius: 50px;
    background-image: url(./icone/sun.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    

}


